.bg-image {
  background: linear-gradient(100deg, rgba(1, 1, 2, 0.65) 50%, rgba(1, 1, 2, 0.65) 50%) ,url('../img/code.jpg');
  background-size: cover;
  background-position-y: center;
   
  min-height: 80vh;
}

/* .overlay {
  background: linear-gradient(100deg, rgba(1, 1, 2, 0.65) 50%, rgba(1, 1, 2, 0.65) 50%);
  position: absolute;
  min-height: 80vh;
  min-width: 1500px;
  left: 1px;
  z-index: 1;
  top: -1px;
  text-align: center;
} */

.nav-item a{
  font-size: 16px;
  line-height: 1.6;
  color: #b8b8b8 !important;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 25px
  
}

.nav-item a:hover{
  color: whitesmoke !important;
}

.brand-name {
  color: white !important;
  margin-top: 15px;

}

.banner {
  position: relative;
  margin-top: 12%;
  margin-left:px
}

.banner-heading {
  
  color: white;
  margin-bottom: 70px;
}

.banner-subheading {
  color:white ;
  margin-bottom: 50px;
  margin-left: 30px
  
}

.banner-btn {
  width:15%;
  margin-left: px;
  margin-top: 40px;
}

.banner-btn:hover{
 background-color: #b8b8b8 !important;
}


/* Banner animation */
@-moz-keyframes leftToRight{
  0% {opacity: 0;}
  5% {opacity: 0; -moz-transform: translateX(-50px);}
  10% {opacity: 1; -moz-transform: translateX(0px);}
  25% {opacity: 1; -moz-transform: translateX(0px);}
  30% {opacity: 0; -moz-transform: translateX(50px);}
  80% {opacity: 0;}
  100%{opacity: 0;}
}

@-webkit-keyframes leftToRight{
  0% {opacity: 0;}
  5%{opacity:0; -webkit-transform:translatex(-50px); }
  10%{opacity:1; -webkit-transform:translatex(0px); }
  25%{opacity:0; -webkit-transform:translatex(0px); }
  30%{opacity:0; -webkit-transform:translatex(50px); }
  80%{opacity:0;}
  100%{ opacity:0;}
}
@-moz-keyframes leftToRight{
  0% {opacity: 0;}
  5%{opacity:0; -webkit-transform:translatex(-50px); }
  10%{opacity:1; -webkit-transform:translatex(0); }
  25%{opacity:0; -webkit-transform:translatex(0px); }
  30%{opacity:0; -webkit-transform:translatex(50px); }
  80%{opacity:0;}
  100%{ opacity:0;}

}

.slidingHorizontal {
  display: inline;
  text-indent: 0px;
  font-weight: bold;
}
.slidingHorizontal span:nth-child() {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.slidingHorizontal span:nth-child(2) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.slidingHorizontal span:nth-child(3) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 9.5s;
}

.slidingHorizontal  span {
  animation: leftToRight 7.5s linear infinite 0s;
  -ms-animation: leftToRight 7.5s linear infinite 0s;
  -webkit-animation: leftToRight 7.5s linear infinite 0s;
  color: #ffa502;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  margin-top: -50px;
 
  
  
  
}



/* footer */

footer {
  background: #252020;
  padding: 120px 0;
}

footer .section-title {
  padding-bottom: 10px;
}

footer h2 {
  font-size: 20px;
}

footer a,
footer p {
  color: #909090;
}

footer strong {
  color: #d9d9d9;
}

footer address p {
  margin-bottom: 0;
}

footer .social-icon {
  margin-top: 25px;
}

.footer-info {
  margin-right: 2em;
}

.footer-info h2 {
  color: #ffffff;
  padding: 0;
}

.footer_menu h2 {
  margin-top: 2em;
}

.footer_menu ul {
  margin: 0;
  padding: 0;
}

.footer_menu li {
  display: inline-block;
  list-style: none;
  margin: 5px 10px 5px 0;
}

.newsletter-form .form-control {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #303030;
  height: 50px;
  margin: 5px 0;
}

.newsletter-form input[type="submit"] {
  background: transparent;
  border: 1px solid #f9f9f9;
  border-radius: 50px;
  color: #ffffff;
  display: block;
  margin-top: 20px;
  outline: none;
  width: 50%;
}

.newsletter-form input[type="submit"]:hover {
  background: #ffa502;
  border-color: transparent;
}

.newsletter-form .form-group span {
  color: #909090;
  display: block;
  font-size: 12px;
  margin-top: 20px;
}



/* SOCIAL ICON  */

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block !important;
  list-style: none;
  margin-bottom: 5px;
}

.social-icon li a i {
  border-radius: 100px;
  color: #ffa502 !important;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative !important;
  margin: 5px 5px 5px 0;
}

.social-icon li a i:hover {
  background: #ffa502 !important;
  color: #ffffff !important;
}

a:hover, a:active, a:focus {
  color: #ffa502;
  outline: none;
  text-decoration:none;
}