/* footer */

footer {
    background: #252020;
    padding: 50px 10px 10px 0;
  }
  
  footer .section-title {
    padding-bottom: 10px;
  }
  
  footer h2 {
    font-size: 20px;
  }
  
  footer a,
  footer p {
    color: #909090;
  }
  
  footer strong {
    color: #d9d9d9;
  }
  
  footer address p {
    margin-bottom: 0;
  }
  
  footer .social-icon {
    margin-top: 25px;
  }
  
  .footer-info {
    margin-right: 2em;
  }
  
  .footer-info h2 {
    color: #ffffff;
    padding: 0;
  }
  
  .footer_menu h2 {
    margin-top: 2em;
  }
  
  .footer_menu ul {
    margin: 0;
    padding: 0;
  }
  
  .footer_menu li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }
  
  .newsletter-form .form-control {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #303030;
    height: 50px;
    margin: 5px 0;
  }
  
  .newsletter-form button[type="button"] {
    background: transparent;
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    color: #ffffff;
    display: block;
    margin-top: 20px;
    outline: none;
    width: 50%;
  }
  
  .newsletter-form button[type="button"]:hover {
    background: #ffa502;
    border-color: transparent;
  }
  
  .newsletter-form .form-group span {
    color: #909090;
    display: block;
    font-size: 12px;
    margin-top: 20px;
  }
  
  .footermove{
    margin-left: 200px
  }
  
  
  /* SOCIAL ICON  */
  
  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .social-icon li {
    display: inline-block !important;
    list-style: none;
    margin-bottom: 5px;
  }
  
  .social-icon li a i {
    border-radius: 100px;
    color: #ffa502 !important;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative !important;
    margin: 5px 5px 5px 0;
  }
  
  .social-icon li a i:hover {
    background: #ffa502 !important;
    color: #ffffff !important;
  }
  
  a:hover, a:active, a:focus {
    color: #ffa502;
    outline: none;
    text-decoration:none;
  }

  .copyright{
    margin-top: 34px;
    color: whitesmoke ;
  }