.divider{
    border-top: 0.5px solid rgb(209, 201, 201);
    padding-top: 50px;
    
}

.thumbnail  {
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:white !important;
    background: linear-gradient(100deg, rgba(1, 1, 2, 0.25) 50%, rgba(1, 1, 2, 0.25) 50%)
}

.thumbnail h5  {
    color: black !important;
  
  }
  

.thumbnail h5:hover  {
  color: white !important;

}

/* .course_title {
    margin-bottom: 25px;
} */

.course_img {
    height: 170px;
    width: 100%
}

.color {
    color:black;
    border: 1px solid black;
}

.color:hover {
    background-color:  #ffa502 !important;
    color:white;
}