

.form{box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding:20px 40px 40px 40px ;
    margin-top:20px;
    width:400px;
    height: 400px


}

#signin{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding:20px 40px 40px 40px ;
    margin-top:20px;
    width:400px;
    height: 300px   
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

/* Set a style for the submit button */
.button {
    background-color: #252020 !important;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    margin-left: 25%;
    margin-top: 20px
}

.button:hover {
    opacity: 1;
    color: white
}