/* .singlecourse-bg{
   
} */

.slug {
    text-align: center;
}

.cardstyle{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* .loader {
    background: linear-gradient(100deg, rgba(1, 1, 2, 0.15) 50%, rgba(1, 1, 2, 0.15) 50%);
    height: 100vh;

} */


